<!-- extract:Logo Header category:Corporate wrap:<div class="l-container"><div class="l-column l-column--large">:</div></div> -->
<a class="header-logo" href="{{site.url}}" rel="home">
    <span>{{site.name}}</span>
    {% include 'svg/logo/logo.twig' %}
</a>
<!-- endextract -->