//*****************************************
// Document: Grid
//*****************************************

//
// Container
//

.l-container {
  @include clearfix;
  @include l-container;

  //max-width: $grid-container--max-width-small;

  @include mq(desktop) {
    max-width: $grid-container--max-width;
  }
}

.l-container--large {
  max-width: $grid-container--max-width-large;
}


//
// Columns
//

.l-column {
  @include l-column;
}

.l-column--tiny {
  @include mq(tablet) {
    //width: 100%;
  }

  @include mq(desktop) {
    float: left;
    width: 25%;
  }

  &:nth-of-type(1),
  &:nth-of-type(2) {
    margin-bottom: $spacing--base;

    @include mq(desktop) {
      margin-bottom: 0;
    }
  }

  &:nth-of-type(2n + 1) {
    @include mq(mobile) {
      clear: left;
    }

    @include mq(desktop) {
      clear: none;
    }
  }

  &:nth-of-type(4n + 1) {
    @include mq(desktop) {
      clear: left;
    }
  }
}

.l-column--small {
  @include mq(desktop) {
    width: (100% / 3);
  }
}

.l-column--medium {
  @include mq(desktop) {
    width: 50%;
  }

  &:nth-child(1),
  &:nth-child(3) {
    clear: left;

    @include mq(desktop) {
      clear: none;
    }
  }
}

.l-column--large {
  @include mq(desktop) {
    width: (100% / 3 * 2);
  }
}

.l-column--huge {
  width: 100%;

  @include mq(desktop) {
    width: 100%; // 75%
  }
}

.l-column--full {
  // Prevent from collapsing
  @include mq(tablet) {
    float: none;
    margin: 0 auto;
    max-width: $grid-container--max-width;
  }

  .l-container--large & {
    @include l-column--base();
  }
}

.l-column--single {
  // Prevent from collapsing
  @include mq(tablet) {
    float: none;
    margin: 0 auto;
    max-width: $grid-container--max-width-small;
  }

  .l-container--large & {
    @include l-column--base();
  }
}


//
// Layout
//

@media print {
  [class*=l-column] {
    clear: both !important;
    float: none !important;
    width: auto !important;
  }
}
