//*****************************************
// Utilities: Layout mixins
//*****************************************

//
// Layout system
//

@mixin l-container {
  clear: both;
  margin: 0 auto;
}

@mixin l-column--base($min-height: 1px, $indent: 0) {
  min-height: $min-height;
  padding-left: $indent;
  padding-right: $indent;
  position: relative;
}

@mixin l-column {
  @include clearfix;
  @include l-column--base($indent: $grid-gutter--width);

  @include mq(desktop) {
    //@include l-column--base($indent: ($grid-gutter--width / 2));

    float: left;
  }
}
