//*****************************************
// SVG sprite mixins
//*****************************************

@function svg-icon-properties($icon) {
  @return map-get($svg-sprite-map, $icon);
}

@function svg-icon-property($icon, $property) {
  @if map-has_key($svg-sprite-map, $icon) == false {
    @warn "Icon #{$icon} does not exist.";

    @return "Icon #{$icon} does not exist.";
  }

  @return map-get(svg-icon-properties($icon), $property);
}

@mixin svg-sprite-icon-width($icon) {
  $width: svg-icon-property($icon, width);

  width: #{$width}px;
}

@mixin svg-sprite-icon-height($icon) {
  $height: svg-icon-property($icon, height);

  height: #{$height}px;
}

@mixin svg-sprite-icon-widthheight($icon) {
  @include svg-sprite-icon-height($icon);
  @include svg-sprite-icon-width($icon);
}

@mixin svg-sprite-icon-position($icon) {
  $x: svg-icon-property($icon, x);
  $y: svg-icon-property($icon, y);

  background-position: #{$x}px #{$y}px;
}

@mixin svg-sprite-image {
  background: url($svg-sprite-path) no-repeat;
}

@mixin svg-sprite-size {
  background-size: #{$svg-sprite-width} #{$svg-sprite-height};
}

@mixin svg-sprite-icon($icon) {
  @include svg-sprite-icon-height($icon);
  @include svg-sprite-icon-position($icon);
  @include svg-sprite-icon-width($icon);
}

@mixin svg-sprite-base($icon) {
  @include svg-sprite-image;
  @include svg-sprite-icon($icon);
  @include svg-sprite-size;
}

@mixin svg-switch-icon($icon, $pseudo: before) {
  &:#{$pseudo} {
    @include svg-sprite-base($icon);

    @content;
  }
}

@mixin svg-sprite($icon, $top: 0, $right: 0, $bottom: 0, $left: 0, $rotate: 0deg, $scale: 1, $margin: auto, $pseudo: before, $position: relative) {
  position: $position;

  &:#{$pseudo} {
    @include svg-sprite-base($icon);

    bottom: $bottom;
    content: "";
    display: block;
    left: $left;
    margin: $margin;
    position: absolute;
    right: $right;
    top: $top;

    @if $rotate != 0deg or $scale != 1 {
      transform: rotate($rotate) scale($scale);
    }

    @content;
  }
}

@mixin svg-icon($icon, $top: 0, $right: auto, $bottom: 0, $left: 0, $margin: auto, $pseudo: before, $gap: 10) {
  $icon-width: svg-icon-property($icon, width);

  @include svg-sprite($icon, $top, $right, $bottom, $left, $margin, $pseudo) {
    @content;
  }

  @if $pseudo == after {
    padding-right: $icon-width + $gap + px;
  } @else {
    padding-left: $icon-width + $gap + px;
  }
}

@mixin svg-icon--inline($icon, $margin: 10px, $pseudo: before) {
  &:#{$pseudo} {
    @include svg-sprite-base($icon);

    content: "";
    display: inline-block;
    vertical-align: middle;

    @if $pseudo == after {
      margin-left: $margin;
    } @else {
      margin-right: $margin;
    }

    @content;
  }
}
