//*****************************************
// Utilities: UI
//*****************************************

@mixin hide-text($indent: 100%) {
  overflow: hidden;
  text-indent: $indent;
  white-space: nowrap;
}

@mixin link($color: inherit, $text-decoration: underline, $color-over: $color, $text-decoration-over: underline) {
  color: $color;
  text-decoration: $text-decoration;

  &:hover,
  &:focus {
    color: $color-over;
    text-decoration: $text-decoration-over;
  }
}

@mixin reset-link($color: inherit) {
  color: $color;
  text-decoration: inherit;

  &:hover,
  &:focus {
    color: $color;
    text-decoration: inherit;
  }
}


//@mixin iass-link($color: inherit, $text-decoration: none, $color-over: $color, $text-decoration-over: none) {
//  color: $color;
//  display: inline-block; // to make sure Pseudo element is only as long as element itself
//  text-decoration: $text-decoration;
//
//  &::after {
//    background: currentColor;
//    content: " ";
//    display: block;
//    height: 2px;
//    margin: 0 auto;
//    margin-top: -3px;
//  }
//
//  &:hover,
//  &:focus {
//    color: $color-over;
//    text-decoration: $text-decoration-over;
//
//    &::after {
//      height: 3px;
//    }
//  }
//}

//@mixin reset-link($color: inherit) {
//  color: $color;
//  display: inline;
//  text-decoration: inherit;
//
//  &::after {
//    content: none;
//  }
//
//  &:hover,
//  &:focus {
//    color: $color;
//    text-decoration: inherit;
//
//    &::after {
//      content: none;
//    }
//  }
//}
