<!-- Start: Document System Messages -->
<div class="document-system-messages">
    <div class="l-container">
        <div class="l-column l-column--full">
            {{> system-message }}

            {{> system-message--error}}

            {{> system-message--info}}

            {{> system-message--warning}}
        </div>
    </div>
</div>
<!-- End: Document Breadcrumbs -->
