@import "../../../node_modules/sass-mq/mq";


//
// Layout system
//

@mixin l-container {
  clear: both;
  margin: 0 auto;
}

@mixin l-column--base($min-height: 1px, $indent: ($grid-gutter--width / 2)) {
  min-height: $min-height;
  padding-left: $indent;
  padding-right: $indent;
  position: relative;
}

@mixin l-column {
  @include clearfix;
  @include l-column--base;

  @include mq(tablet) {
    float: left;
  }
}
