$svg-sprite-path: '../img/svg-sprite-dbf7fae8.svg';
$svg-sprite-width: 65.1px;
$svg-sprite-height: 1711px;

// name:
// 1 => positionX
// 2 => positionY
// 3 => width
// 4 => height

$svg-sprite-map: (
  decoration-doc: (x: 0, y: 0, xy: 0 0, width: 50, height: 50),
  decoration-dossier: (x: 0, y: -50, xy: 0 -50px, width: 23, height: 25),
  decoration-dossier--big: (x: 0, y: -75, xy: 0 -75px, width: 55, height: 60),
  decoration-pdf: (x: 0, y: -135, xy: 0 -135px, width: 50, height: 50),
  decoration-ppt: (x: 0, y: -185, xy: 0 -185px, width: 50, height: 50),
  decoration-xls: (x: 0, y: -235, xy: 0 -235px, width: 50, height: 50),
  social-media-facebook--outline: (x: 0, y: -285, xy: 0 -285px, width: 17, height: 32),
  social-media-facebook--small-outline: (x: 0, y: -317, xy: 0 -317px, width: 11, height: 18),
  social-media-facebook--small-outline--petrol: (x: 0, y: -335, xy: 0 -335px, width: 11, height: 18),
  social-media-flickr--outline: (x: 0, y: -353, xy: 0 -353px, width: 29, height: 14),
  social-media-flickr--small-outline: (x: 0, y: -367, xy: 0 -367px, width: 23, height: 12),
  social-media-googleplus--outline: (x: 0, y: -379, xy: 0 -379px, width: 34, height: 22),
  social-media-googleplus--small-outline: (x: 0, y: -401, xy: 0 -401px, width: 18, height: 17),
  social-media-googleplus--small-outline--petrol: (x: 0, y: -418, xy: 0 -418px, width: 18, height: 17),
  social-media-instagram--outline: (x: 0, y: -435, xy: 0 -435px, width: 31, height: 31),
  social-media-instagram--small-outline: (x: 0, y: -466, xy: 0 -466px, width: 18, height: 18),
  social-media-linkedin--outline: (x: 0, y: -484, xy: 0 -484px, width: 29, height: 29),
  social-media-linkedin--small-outline: (x: 0, y: -513, xy: 0 -513px, width: 18, height: 18),
  social-media-linkedin--small-outline--petrol: (x: 0, y: -531, xy: 0 -531px, width: 18, height: 18),
  social-media-mail--outline: (x: 0, y: -549, xy: 0 -549px, width: 29, height: 19),
  social-media-mail--small-outline: (x: 0, y: -568, xy: 0 -568px, width: 18, height: 15),
  social-media-mail--small-outline--petrol: (x: 0, y: -583, xy: 0 -583px, width: 18, height: 15),
  social-media-researchgate--small-outline--petrol: (x: 0, y: -598, xy: 0 -598px, width: 18, height: 18),
  social-media-rss--outline: (x: 0, y: -616, xy: 0 -616px, width: 27, height: 27),
  social-media-rss--small-outline: (x: 0, y: -643, xy: 0 -643px, width: 20, height: 20),
  social-media-skype--small-outline: (x: 0, y: -663, xy: 0 -663px, width: 18, height: 18),
  social-media-skype--small-outline--petrol: (x: 0, y: -681, xy: 0 -681px, width: 18, height: 18),
  social-media-twitter--outline: (x: 0, y: -699, xy: 0 -699px, width: 28, height: 24),
  social-media-twitter--small-outline: (x: 0, y: -723, xy: 0 -723px, width: 18, height: 15),
  social-media-twitter--small-outline--petrol: (x: 0, y: -738, xy: 0 -738px, width: 18, height: 15),
  social-media-whatsapp--outline: (x: 0, y: -753, xy: 0 -753px, width: 30, height: 30),
  social-media-whatsapp--small-outline: (x: 0, y: -783, xy: 0 -783px, width: 18, height: 18),
  social-media-xing--outline: (x: 0, y: -801, xy: 0 -801px, width: 25, height: 29),
  social-media-xing--small-outline: (x: 0, y: -830, xy: 0 -830px, width: 16, height: 18),
  social-media-xing--small-outline--petrol: (x: 0, y: -848, xy: 0 -848px, width: 16, height: 18),
  social-media-youtube--outline: (x: 0, y: -866, xy: 0 -866px, width: 34, height: 25),
  social-media-youtube--small-outline: (x: 0, y: -891, xy: 0 -891px, width: 18, height: 14),
  social-media-youtube--small-outline--petrol: (x: 0, y: -905, xy: 0 -905px, width: 18, height: 14),
  ui-Icons-arrow-down7: (x: 0, y: -919, xy: 0 -919px, width: 12, height: 20),
  ui-Icons-arrow-down7_Copy: (x: 0, y: -939, xy: 0 -939px, width: 12, height: 20),
  ui-accordion-close: (x: 0, y: -959, xy: 0 -959px, width: 19, height: 19),
  ui-accordion-expand: (x: 0, y: -978, xy: 0 -978px, width: 16, height: 9),
  ui-arrow--red: (x: 0, y: -987, xy: 0 -987px, width: 25, height: 21),
  ui-chevron-down--blue: (x: 0, y: -1008, xy: 0 -1008px, width: 16, height: 9),
  ui-chevron-left--blue: (x: 0, y: -1017, xy: 0 -1017px, width: 8, height: 15),
  ui-close: (x: 0, y: -1032, xy: 0 -1032px, width: 19, height: 19),
  ui-download: (x: 0, y: -1051, xy: 0 -1051px, width: 23, height: 18),
  ui-dropdown-chevron: (x: 0, y: -1069, xy: 0 -1069px, width: 10, height: 17),
  ui-event: (x: 0, y: -1086, xy: 0 -1086px, width: 65.1, height: 65.1),
  ui-link-arrow--blue: (x: 0, y: -1152, xy: 0 -1152px, width: 46, height: 46),
  ui-link-arrow--white: (x: 0, y: -1198, xy: 0 -1198px, width: 46, height: 46),
  ui-magnifier: (x: 0, y: -1244, xy: 0 -1244px, width: 20, height: 20),
  ui-map: (x: 0, y: -1264, xy: 0 -1264px, width: 20, height: 27),
  ui-map--big: (x: 0, y: -1291, xy: 0 -1291px, width: 37, height: 52),
  ui-playbutton: (x: 0, y: -1343, xy: 0 -1343px, width: 61, height: 61),
  ui-printer: (x: 0, y: -1404, xy: 0 -1404px, width: 26, height: 23),
  ui-search: (x: 0, y: -1427, xy: 0 -1427px, width: 27, height: 27),
  ui-search--mobile: (x: 0, y: -1454, xy: 0 -1454px, width: 34, height: 34),
  ui-slider-arrow-blue--left: (x: 0, y: -1488, xy: 0 -1488px, width: 39, height: 39),
  ui-slider-arrow-blue--right: (x: 0, y: -1527, xy: 0 -1527px, width: 39, height: 39),
  ui-slider-left: (x: 0, y: -1566, xy: 0 -1566px, width: 45, height: 45),
  ui-slider-right: (x: 0, y: -1611, xy: 0 -1611px, width: 45, height: 45),
  ui-to-top: (x: 0, y: -1656, xy: 0 -1656px, width: 37, height: 37),
  ui-topic-close: (x: 0, y: -1693, xy: 0 -1693px, width: 19, height: 18)
);
